<div style="text-align: center; width: 100%;">
    <img style="display: block; margin: 0 auto; max-width: 100px;margin-top:70px;"
        src="https://i-love-png.com/images/family-svg-clipart-white-3.png" />
    <h5 style="font-weight: bold;">Customers schedule</h5>
    <div class="tableContainer">
        <span>Full name</span>
        <span>Date from</span>
        <span>Date to</span>
        <span>Hour from </span>
        <span>Hour to</span>
        <span>Status</span>
    </div>
    {{#if isTheDriver}}
    {{#each allScheduledUsersForRentForTable}}

    <div class="tableUser">
        <span>{{ fullName }}</span>
        <span>{{ dateStart }}</span>
        <span>{{ dateEnd }}</span>
        <span>{{ startRentTime }}</span>
        <span>{{ endRentTime }}</span>

        <div id="container-button">
            <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
            <form method="PUT" action="/rent/approved-rent/{{_id}}">
                <button type="submit">
                    <span class="checkmark">
                        <div class="checkmark_stem"></div>
                        <div class="checkmark_kick"></div>
                    </span>
                </button>
            </form>
            {{!-- <button style="font-size:26px;padding-top:10px;width:30px;height:30;cursor:pointer; "> --}}
                {{!-- </button> --}}
            <a href="/rent/declined-rent/{{_id}}">
                <button type="button" class="close" aria-label="Close"
                    style="font-size:30px;width:30px;height:30;background-color:red;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
        </div>


    </div>
    </span>

</div>
{{/each}}

{{/if}}

{{#unless isTheDriver}}
{{#each allScheduledUsersForRentForTable}}

<div class="tableUser">
    <span>{{ fullName }}</span>
    <span>{{ dateStart }}</span>
    <span>{{ dateEnd }}</span>
    <span>{{ startRentTime }}</span>
    <span>{{ endRentTime }}</span>
    <div id="container-button">
        <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
    </div>
</div>



{{/each}}

{{/unless}}


{{!-- {{else}}
<p>There is no users yet</p> --}}
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#approved').text() === "Approved") {
            $('#container-button').css('background', 'green')
        }
        console.log($('#approved').text())
        if ($('#approved').text() === "Pending...") {
            $('#container-button').css('background', 'red')
        }

    }); 
</script>

<p style="font-weight:bold;">{{rent.driver.email}}</p>
</div>