<div style="text-align: center; width: 100%;">
    <img style="display: block; margin: 0 auto; max-width: 100px;margin-top:70px;"
        src="https://i-love-png.com/images/family-svg-clipart-white-3.png" />
    <h5 style="font-weight: bold;">Customers schedule</h5>
     <div class="tableContainer">
        <span>Full name</span>
        <span>Date from</span>
        <span>Date to</span>
        <span>Hour begin </span>
        <span>Hour end</span>
    </div>
    {{#each allScheduledUsersForRentForTable}}
   
    <div class="tableUser">
        <span>{{ fullName }}</span>
        <span>{{ dateStart }}</span>
        <span>{{ dateEnd }}</span>
        <span>{{ startRentTime }}</span>
        <span>{{ endRentTime }}</span>
    </div>

    {{else}}
    <p>There is no users yet</p>
    {{/each}}
    <p style="font-weight:bold;">{{rent.driver.email}}</p>
</div>