<div style="text-align: center; width: 100%;">
    <img style="display: block; margin: 0 auto; max-width: 100px;margin-top:70px;"
        src="https://i-love-png.com/images/family-svg-clipart-white-3.png" />
    <h5 style="font-weight: bold;">Customers schedule</h5>
    <div class="tableContainer">
        <span>Full name</span>
        <span class="borderElement">Date from</span>
        <span class="borderElement">Date to</span>
        <span class="borderElement">Hour from </span>
        <span class="borderElement">Hour to</span>
        <span class="borderElement">Status</span>
    </div>
    {{#if isTheowner}}
        {{#each allScheduledUsersForRentForTable}}

        <div class="tableUser">
            <span class="borderElement">{{ fullName }}</span>
            <span class="borderElement">{{ dateStart }}</span>
            <span class="borderElement">{{ dateEnd }}</span>
            <span class="borderElement">{{ startRentTime }}</span>
            <span class="borderElement">{{ endRentTime }}</span>

            {{#if isApproved}}
                <div id="container-button" style="background-color:green;">
                    <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
                    <form method="PUT" action="/makeAppointment/approved-rent/{{_id}}">
                        <button type="submit">
                            <span class="checkmark">
                                <div class="checkmark_stem"></div>
                                <div class="checkmark_kick"></div>
                            </span>
                        </button>
                    </form>
    
                    {{!-- <button style="font-size:26px;padding-top:10px;width:30px;height:30;cursor:pointer; "> --}}
                        {{!-- </button> --}}
                    <form method="PUT" action="/makeAppointment/declined-rent/{{_id}}">
                        <button type="submit" class="close" aria-label="Close" id="close"
                            style="font-size:30px;width:30px;height:30;background-color:red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>

                 </div>
            {{/if}}

            {{#unless isApproved}}
                <div id="container-button" style="background-color:rgb(198, 20, 20);">
                    <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
                    <form method="PUT" action="/makeAppointment/approved-rent/{{_id}}">
                        <button type="submit">
                            <span class="checkmark">
                                <div class="checkmark_stem"></div>
                                <div class="checkmark_kick"></div>
                            </span>
                        </button>
                    </form>

                    <form method="PUT" action="/makeAppointment/declined-rent/{{_id}}">
                        <button type="submit" class="close" aria-label="Close" id="close"
                            style="font-size:30px;width:30px;height:30;background-color:red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>

                </div>
            {{/unless }}
        </div>
        {{/each}}
    {{/if}}

    {{#unless isTheowner}}
        {{#each allScheduledUsersForRentForTable}}
            <div class="tableUser">
                {{#if isApproved}}
                    <span >{{ fullName }}</span>
                    <span class="borderElement">{{ dateStart }}</span>
                    <span class="borderElement">{{ dateEnd }}</span>
                    <span class="borderElement">{{ startRentTime }}</span>
                    <span class="borderElement">{{ endRentTime }}</span>
                    <div id="container-button" style="background-color:green;">
                        <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
                    </div>
                {{/if }}
                {{#unless isApproved}}
                    <span >{{ fullName }}</span>
                    <span class="borderElement">{{ dateStart }}</span>
                    <span class="borderElement">{{ dateEnd }}</span>
                    <span class="borderElement">{{ startRentTime }}</span>
                    <span class="borderElement">{{ endRentTime }}</span>
                    <div id="container-button" style="background-color:rgb(198, 20, 20)">
                        <span name="statusResult" id="approved" class="leftSide">{{ statusResult }}</span>
                    </div>
                {{/unless }}
            </div>
        {{/each}}
    {{/unless}}
</div>