<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="{{carImage}}" alt="">
        <div class="card-body">
            <h4 class="card-title card-vehicleType">Brand - {{brand}}  </h4>
            <h4 class="card-title">Vehicle type - {{vehicleType}}  </h4>
            <h4 class="card-title">Model - {{model}}  </h4>
            <h4 class="card-title">Year - {{constructionYear}}  </h4>
            <h4 class="card-title">FuelType - {{fuelType}}  </h4>
            <h4 class="card-title">Seats - {{seats}}  </h4>
            <h4 class="card-title">Price per day - {{price}}  </h4>
       
        </div>
        <div class="card-footer">
            <a href="/rent/details-rent/{{_id}}" class="btn btn-primary">Find Out More!</a>
        </div>
    </div>
</div>